/* ===== SERVIÇOS ===== */
.section.servicos {
  padding: 80px 8%;
  text-align: center;
}


.section.servicos .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 2em;
}

.section.servicos .service-card {
  background: #e9e5e5;
  padding: 35px 25px;
  border-radius: 14px;
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.section.servicos .service-card:hover {
  transform: translateY(-8px);
  border-color: #ff6600;
  box-shadow: 0 8px 20px rgba(255, 102, 0, 0.2);
}

.section.servicos .service-card img {
  width: 55px;
  margin-bottom: 20px;
}

.section.servicos .service-card span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #1a1a1a;
}

.section.servicos .service-card p {
  font-size: 0.95rem;
  color: #1a1a1a;
  line-height: 1.5;
}
